{
  "project_info": {
    "project_number": "REPLACE",
    "project_id": "REPLACE",
    "storage_bucket": "REPLACE.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE:android:REPLACE",
        "android_client_info": {
          "package_name": "app.filo.android"
        }
      },
      "oauth_client": [],
      "api_key": [{ "current_key": "REPLACE" }],
      "services": { "appinvite_service": { "other_platform_oauth_client": [] } }
    }
  ],
  "configuration_version": "1"
}
